<html>

<head>
        {{ template "head"}}
</head>

<body>

        {{ template "navbarAdmin" "password"}}

        <div class="container mt-20">
                <div class="row justify-content-md-center">
                        <div class="col-12 col-md-6">

                                <form id="form" class="mw-320 m-auto" data-url="{{api}}/change-password" method="POST">
                                        <div class="form-group">
                                                <label for="old-password">Old password</label>
                                                <input type="password" class="form-control" id="old-password" name="oldPassword" required>
                                        </div>
                                        <div class="form-group">
                                                <label for="new-password">New password</label>
                                                <input type="password" class="form-control" id="new-password" name="newPassword" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                </form>
                        </div>
                </div>
        </div>

        {{ template "footer"}}

</body>

</html>